 .homepageContent {

    text-align: center;
    padding: 20px;
    box-sizing: border-box;

  }
  
  .centeredTitle {

    font-size: 4.5em;
    margin: 0.5em 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  }
  
  .intro {

    background: radial-gradient(circle, 
    rgba(238,174,202,1) 0%);
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-block;
    text-align: left;
    max-width: 940px;
    margin: 0 auto 20px;

  }
  
  .description {

    font-size: 1.5em;
    max-width: 940px;
    margin: 0.5em 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

  }
  
  .hoverDescription {

    background: radial-gradient(circle, 
    rgba(238,174,202,1) 0%);
    color: black;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: block;
    text-align: left;
    max-width: 940px;
    margin: 20px auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;

  }
  
  .imageContainer {

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

  }

  .imageBox {

    background: radial-gradient(circle, 
    rgba(238,174,202,1) 0%);
    color: black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    max-width: 300px;

  }
  
  .imageBox:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

  }
  
  .slideImage {

    width: 100%;
    border-radius: 10px;
    
  }
  