* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
    position: center;

  }

  body {

    background-image: url('./picture/mainFoto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

  }
