.MainScreenCreditNote {

    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow-y: auto;

}

.invoice-table-container {

    grid-column: span 3;
    grid-row: span 3;
    margin-top: 30px;
    text-align: center;
 
}

.buttonCreateCreditNote {

    grid-column: 2;
    background-color: #0056b3; 
    color: white;
    border: none;
    margin: 10px;
    padding: 10px 20px; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
}

.buttonOnCLose {
   
    width: 6%;
    background-color: rgb(156, 149, 149); 
    color: white;
    border: none; 
    border-radius:5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.invoiceCreditNote {

    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px; 
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;

}

.inputCreditNote {
    
    height: 150%;
    padding: 2px;
    border: 1px solid #007bff; 
    border-radius: 5px;
    font-size: 12px;

}

.h1CreditNote {

    grid-column: 2;
    grid-row: span 1;
    text-align: center;
    justify-content: center;

}

.inputCreditNoteFirstElement {

    height: 150%;
    grid-column: 1;
    grid-row: span 1;
    padding: 2px;
    border: 1px solid #007bff;
    border-radius: 5px;
    font-size: 12px;

}

.inputTableInvoiceCreditNote {

    width: 100%;
    height: 100%;

}

.inputCreditNoteFirstElementCreditNote {
 
    height: 150%;
    grid-column: 1;

}

.buttonTable_plus {

    background-color: #7B68EE;
    color: white;
    padding: 4px;

}

.buttonTable_delete {
   
    padding: 4px;
    background-color: #7B68EE;
    color: white;
    border: 2px white;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s ease;

}